<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.omega" >

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="aandroid.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AccountHistroyActivity"
            android:exported="false" /> <!-- android:usesCleartextTraffic="true"  line used for obtainging public ip -->
        <activity
            android:name=".RBlikCodeDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".RBLIKCodeCreator"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserPermissionList"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".BankLoginWebPageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TransferSummary"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BasicTransferActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PinActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".YesNoDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>
        <activity
            android:name=".ScanFingerActivity"
            android:exported="false"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError" > <!-- TESTTESTESTTESTTESTETSTEST$ETSEST -->
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="oauthdemo.developer.aliorbank.pl"
                    android:scheme="https" />
            </intent-filter> <!-- TESTTESTESTTESTTESTETSTEST$ETSEST -->

        </activity>
    </application>

</manifest>